In [2]:
import pandas as pd

In [7]:
# data
path_jamon     = 'work/datasets/score_de_jamonosidad.csv'
path_jamon_new = 'work/datasets/jamones_por_calificar.csv'

In [8]:
# loading
score = pd.read_csv(path_jamon)

In [9]:
score

    jamon  score    v1    v2    v3
0       1     10  1985  59.7  2205
1       2     11  2855  55.0  2096
2       3     11  1737  65.6  1847
3       4     13  2905  61.4  1903
4       5     10  1666  66.1  1457
5       6     11  2927  61.0  1848
6       7     10  2341  66.1  1564
7       8     11  2737  58.9  2476
8       9      4  1414  57.0  2577
9      10      2  1838  58.9  2476
10     11      7  1480  68.5  1984
11     12     10  2191  59.2  1901
12     13      9  2229  58.8  1761
13     14      9  2204  58.6  1709
14     15      6  2140  59.2  1901
15     16      5  1730  54.4  2288
16     17      5  2072  49.6  2072
17     18      5  2929  54.3  2861
18     19      6  2268  58.7  2411
19     20      4  1983  51.7  2289
20     21      3  1792  61.9  2203
21     22      3  1606  52.7  2592
22     23      4  1492  57.8  2053
23     24     10  2835  59.7  1979
24     25      6  2416  54.9  2048
25     26      8  1638  65.3  1786
26     27      2  2649  43.8  2876
27     28      0  1503  53.5  2560

In [ ]:
## ingenieria de variables
# normalización
# reducción de dimensionalidad
# interacciones