# El seductor canto de las sirenas

In [1]:
# dependencias
import numpy  as np
import pandas as pd
from   seaborn import scatterplot
from   sklearn.preprocessing   import StandardScaler, PolynomialFeatures
from   sklearn.model_selection import GridSearchCV
# from   sklearn.linear_model    import LoggisticRE
# from   sklearn.ensemble        import RandomForestClassifier
# from   sklearn.metrics         import make_scorer

In [4]:
# data paths
path_sirenas_historico = 'work/datasets/sirenas_endemicas_y_sirenas_migrantes_historico.csv'
# output

In [5]:
sirenas_historico = pd.read_csv(path_sirenas_historico)

In [6]:
sirenas_historico

     v1   v2   v3   v4          especie
0   4.3  3.0  1.1  0.1  sirena_migrante
1   4.8  3.0  1.4  0.1  sirena_migrante
2   4.9  3.1  1.5  0.1  sirena_migrante
3   4.9  3.1  1.5  0.1  sirena_migrante
4   4.9  3.1  1.5  0.1  sirena_migrante
..  ...  ...  ...  ...              ...
95  6.3  3.4  5.6  2.4  sirena_endemica
96  6.7  3.1  5.6  2.4  sirena_endemica
97  6.7  3.3  5.7  2.5  sirena_endemica
98  6.3  3.3  6.0  2.5  sirena_endemica
99  7.2  3.6  6.1  2.5  sirena_endemica

[100 rows x 5 columns]