# Aguas venenosas

In [10]:
# dependencias
import pandas as pd
from seaborn import pairplot

In [2]:
# data
path_veneno   = 'work/datasets/veneno.csv'
path_sustancias = 'work/datasets/sustancias_diversas.csv'

In [3]:
# loading
veneno_inicio   = pd.read_csv(path_veneno)
sustancias = pd.read_csv(path_sustancias)

## exploraci√≥n inicial

In [4]:
# remuevo columna extra
veneno = veneno_inicio.drop(columns = 'caracteristica')

In [5]:
veneno

   v1  v2      v3     v4      v5  v6    v7   v8   v9   v10
0  21  56  2131.4  164.6  4527.9   1  2.09  3.8  538  23.7

### muestras

In [7]:
print(sustancias.head())
print(sustancias.tail())

    id    v1    v2      v3     v4      v5   v6   v7   v8     v9   v10
0  517  24.7  48.5  2449.5  133.0  5044.5  1.2  2.2  3.8  568.8  19.9
1  226  21.0  56.2  2114.7  163.7  4559.6  1.0  2.1  3.8  542.8  23.7
2  615  18.2  56.8  2055.4  150.3  4718.8  0.8  2.4  4.6  431.6  23.5
3  390  20.8  56.0  2112.9  165.9  4503.9  1.0  2.1  3.8  533.9  23.9
4  172  21.0  56.4  2146.7  166.0  4492.2  1.0  2.1  3.8  543.2  23.7
      id    v1    v2      v3     v4      v5   v6   v7   v8     v9   v10
495  699  25.1  61.7  2255.6  132.4  3990.4  1.1  2.4  4.2  502.3  20.6
496  579  19.4  53.2  2203.3  182.1  4051.8  1.0  2.3  3.6  531.0  28.4
497  338  20.9  56.2  2124.7  164.6  4513.6  1.0  2.1  3.8  537.2  23.8
498  660  17.3  55.4  2121.1  153.7  4289.5  0.9  2.1  3.2  451.5  22.8
499  522  22.3  63.4  2125.8  169.3  3805.5  1.2  2.5  3.1  627.2  21.5

In [9]:
# estadistica descriptiva
sustancias.describe()

,id,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10
count,500.00000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,487.33800,20.977800,55.915400,2122.973800,165.231200,4536.858200,1.001600,2.107600,3.799600,538.805200,23.677000
std,289.23473,1.667359,4.483171,165.021963,13.069945,354.197585,0.086559,0.170765,0.315021,41.981127,1.976893
min,1.00000,16.800000,45.000000,1705.700000,132.100000,3624.600000,0.800000,1.700000,3.000000,430.700000,19.000000
25%,233.75000,20.800000,55.400000,2111.050000,163.100000,4485.775000,1.000000,2.100000,3.800000,532.875000,23.500000
50%,469.50000,21.000000,55.900000,2129.800000,164.750000,4532.750000,1.000000,2.100000,3.800000,537.100000,23.700000
75%,745.25000,21.200000,56.500000,2147.625000,166.125000,4572.550000,1.000000,2.100000,3.800000,542.800000,23.900000
max,995.00000,25.200000,67.200000,2556.800000,197.500000,5430.000000,1.200000,2.500000,4.600000,644.300000,28.400000

In [ ]:
# scatterplot
pairplot(sustancias)